# Core Libraries
requests
beautifulsoup4
html2text
tqdm
python-dotenv
nltk

# Embedding
sentence-transformers

# Vector DB
chromadb

# Optional UI
streamlit

# Dev Tools (Optional)
ipython
black
PyGithub
